fastapi[standard]
pyjwt
pwdlib[argon2]

sqlalchemy 
asyncpg 
alembic 
pgvector
psycopg[binary]
psycopg-pool

pytest
pytest-asyncio
httpx

langchain
langchain-google-genai
langchain-tavily
langgraph
langgraph-checkpoint-postgres

llama-index
llama-index-readers-file
llama-index-llms-google-genai
llama-index-embeddings-google-genai
llama-index-vector-stores-postgres

aioboto3
types-aioboto3[s3]