fastapi[standard]
pyjwt
pwdlib[argon2]

sqlalchemy 
asyncpg 
alembic 
pgvector

pytest
pytest-asyncio
httpx

langchain
langchain-google-genai
langchain-tavily
langgraph

llama-index
llama-index-readers-file
llama-index-vector-stores-chroma
llama-index-llms-google-genai
llama-index-embeddings-google-genai
chromadb